.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.loading-container {
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  height: 100%; /* Set the height of the container */
}

.popup-container {
  /*width: 400px;*/ /* Set the desired width */
  padding: 20px; /* Add padding for better spacing */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Adjust height as needed */
}

.popup-header {
  margin-bottom: 20px; /* Add margin to separate header from form */
}

.popup-form {
  width: 80%; /* Set the width of the form */
  max-width: 400px; /* Optional: Set maximum width to prevent form from stretching too wide */
}

.popup-form .btn {
  margin-top: 20px; /* Add margin to the top of the button */
}

/* Add this to your global CSS file or component-specific CSS file */
.mat-column-date,
.mat-column-company_name,
.mat-column-status,
.mat-column-url,
.mat-column-update {
  max-width: 200px; /* Adjust the width as needed */
  min-width: 200px; /* Adjust the width as needed */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Show ellipsis for overflow content */
  white-space: nowrap; /* Prevent text wrapping */
}

/* Add this to your global CSS file or component-specific CSS file */
.selected {
  background-color: blue;
  color: white; /* Optional: Set text color to white for better visibility */
}

.add-button {
  background-color: green;
}

.bold-column {
  font-weight: bold;
}

.edit-box {
  display: flex;
}

.delete-button {
  background-color: red;
}

.edit-box > button {
  margin-right: 10px; /* Adjust spacing between buttons */
}

.table-helper-container {
  display: flex; /* Use flexbox */
  align-items: center; /* Align items vertically */
}

.filter-header {
  width: calc(100% - 10px); /* Set explicit width */

  /*flex: 1;*/ /* Allow the filter header to grow and fill available space */
  margin-right: auto; /* Add some space between the two elements */
  margin-bottom: 10px;
  margin-left: 20px;
}

.button-container {
  width: calc(10% - 10px); /* Set explicit width */
  display: flex; /* Use flexbox */
  align-items: center; /* Align items vertically */
  margin-left: auto;
  margin-bottom: 10px;
  margin-right: 20px;
}

