<p>Applications</p>

<button class="btn btn-primary" mat-raised-button color="primary" (click)="openPopupForm()">Add</button>

<br />
<br />
<br />
<div class="loading-container" *ngIf="isLoading; else table">
  <!-- Show loading spinner while data is loading -->
  <mat-spinner diameter="50" color="primary"></mat-spinner>
</div>



<ng-template #table>
  <mat-table [dataSource]="applications" matSort>
    <!-- Column definitions -->
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
      <mat-cell *matCellDef="let app"> {{ app.date }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="company_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Company Name </mat-header-cell>
      <mat-cell *matCellDef="let app"> {{ app.company_name }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
      <mat-cell *matCellDef="let app"> {{ app.status }} </mat-cell>
    </ng-container>
    <!-- Define other columns similarly -->
    <ng-container matColumnDef="url">
      <mat-header-cell *matHeaderCellDef mat-sort-header> URL </mat-header-cell>
      <mat-cell *matCellDef="let app"> {{ app.url }} </mat-cell>
    </ng-container>
    <!-- Header and row definitions -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
</ng-template>

<ng-template #popupForm let-popupRef="dialogRef">
  <div class="popup-container">
    <h2 class="popup-header">Add Application</h2>
    <form (ngSubmit)="submitApplication()" #form="ngForm" class="popup-form">
      <!-- Form fields for company name, date, and status -->
      <div class="form-group">
        <label for="companyName">Company Name</label>
        <input type="text" class="form-control" id="companyName" name="companyName" [(ngModel)]="newApplicationData.company_name" required>
      </div>
      <div class="form-group">
        <label for="date">Date</label>
        <input type="date" class="form-control" id="date" name="date" [(ngModel)]="newApplicationData.date" required>
      </div>
      <div class="form-group">
        <label for="url">URL</label>
        <input type="text" class="form-control" id="url" name="url" [(ngModel)]="newApplicationData.url">
      </div>
      <div class="form-group">
        <label for="status">Status</label>
        <select class="form-control" id="status" name="status" [(ngModel)]="newApplicationData.status" required>
          <option value="applied">Applied</option>
          <option value="rejected">Rejected</option>
          <option value="ghosted">Ghosted</option>
          <option value="interview">Interview</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</ng-template>

<!--Source: https://stackblitz.com/angular/dnbermjydavk?file=app%2Ftable-overview-example.ts,app%2Ftable-overview-example.html-->
