<p>Applications</p>

<button class="btn btn-primary" mat-raised-button color="primary" (click)="openPopupForm()">Add</button>

<br />
<br />
<br />
<div class="loading-container" *ngIf="isLoading">
  <!--Show loading spinner while data is loading-->
  <mat-spinner diameter="50" color="primary"></mat-spinner>
</div>


<div [hidden]="isLoading">
  <table mat-table [dataSource]="tableDataSource" class="mat-elevation-z8">
    <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
      <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
      <td mat-cell *matCellDef="let app">{{ app[column] }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let approw; columns: displayedColumns"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="pageSizes"
                 showFirstLastButtons></mat-paginator>
</div>



<ng-template #popupForm let-popupRef="dialogRef">
  <div class="popup-container">
    <h2 class="popup-header">Add Application</h2>
    <form (ngSubmit)="submitApplication()" #form="ngForm" class="popup-form">
      <!--Form fields for company name, date, and status-->
      <div class="form-group">
        <label for="companyName">Company Name</label>
        <input type="text" class="form-control" id="companyName" name="companyName" [(ngModel)]="newApplicationData.company_name" required>
      </div>
      <div class="form-group">
        <label for="date">Date</label>
        <input type="date" class="form-control" id="date" name="date" [(ngModel)]="newApplicationData.date" required>
      </div>
      <div class="form-group">
        <label for="url">URL</label>
        <input type="text" class="form-control" id="url" name="url" [(ngModel)]="newApplicationData.url">
      </div>
      <div class="form-group">
        <label for="status">Status</label>
        <select class="form-control" id="status" name="status" [(ngModel)]="newApplicationData.status" required>
          <option value="applied">Applied</option>
          <option value="rejected">Rejected</option>
          <option value="ghosted">Ghosted</option>
          <option value="interview">Interview</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</ng-template>

<!--Source: https://stackblitz.com/angular/dnbermjydavk?file=app%2Ftable-overview-example.ts,app%2Ftable-overview-example.html-->
